- var site = { url: webpackConfig.blog.scheme + '://' + webpackConfig.blog.host, title: webpackConfig.blog.title }
- var author = { mail: webpackConfig.blog.contact }
- var date = new Date().toISOString()

doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
	title= site.title

	link(href="/atom.xml" rel="self")
	link(href=siteUrl)

	updated= date
	id= site.url

	author
		name= site.title
		email= author.mail

	generator(url=siteUrl)
		each post in compilation.feed
			entry
				title= post.title
				link(href=siteUrl)
				id= site.url
				published= post.date
				updated= post.updated

				if post.description
					summary(type="html")= post.description
				else if post.excerpt
					summary(type="html")= post.experpt
				else if post.contentcontent
					summary(type="html")= post.content
				else
					summary(type="html") No Summary
